<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Cart Info - PizzaHouse| Ecommerce</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<style>
    .checkout{
        margin-left: 35px;
        border-radius: 10px;
    }
    .checkout:hover{
        background-color: #13a069;
    }
</style>
<script type="text/javascript">
    var user = '{{ request.user }}'
</script>

<body>
<!-- header section start -->


<div class="container">

    {% include 'Pizza-Order Project/partial/navbar.html' %}

</div>


<!-- ---------------CaRt iTEMS DETAILS--------------------- -->

<div class="small-container cart-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for item in items %}
            <tr>
            <td>

                <div class="cart-info">
                    <img src="{{ item.product.imageURL }}">
                    <div class="">
                        <p>{{ item.product.name }}</p>
                        <small>Price: {{ item.product.price|floatformat:2 }}Taka</small>
                        <a href="#">Remove</a>
                    </div>
                </div>


            </td>
            <td> <input type="number" value="{{ item.value }}">

            </td>

            <td>{{ item.get_subtotal }} Taka</td>

        {% endfor %}
        </tr>
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td><strong>Total: {{ order.get_cart_items }}</strong></td>
                <td><a href="{% url 'checkOut' %}" class="btn checkout">Checkout</a></td>
                <td><strong> {{ order.get_cart_total }} Taka</strong></td>

            </tr>
        </table>

    </div>


</div>

<!-- -----------Footer----------- -->
 {% include 'Pizza-Order Project/partial/footer.html' %}
<!-- Js Media Querry start -->
<script>
    var menuItems = document.getElementById("menuItems");
    menuItems.style.maxHeight == "0px";

    function manutoggle() {
        if (menuItems.style.maxHeight == "0px") {
            menuItems.style.maxHeight = "200px";
        } else {
            menuItems.style.maxHeight = "0px";
        }
    }
</script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<!-- Js Media Querry finish -->

</body>

</html>